node_modules
.env
src/filters/*
!src/filters/example/
!src/filters/example/**
!src/filters/shared.ts
!src/filters/shared/
!src/filters/shared/**
src/filters/shared/user-defaults.ts
src/filters/shared/user-styles.ts
